body {
  background-color: #bbb; }

.navbar {
  opacity: 0.9; }

.carousel-item {
  height: 500px; }

.carousel-image-1 {
  background: url("../img/bless-1.jpg");
  background-size: cover; }

.carousel-image-2 {
  background: url("../img/bd-1.jpg");
  background-size: cover; }

.carousel-image-3 {
  background: url("../img/wow-1.jpg");
  background-size: cover; }

.topic:hover {
  background: #eee; }
hr {
  border: 1px solid #bbb;
}
.post {
  border: 2px solid #bbb;
}
.user-profile-section {
  border-right: 1px solid #bbb;
}
